[safe]
	directory = /storage/emulated/0/IT Learning Project
	directory = /storage/emulated/0/FRONTEND WEB DEVELOPMENT PROJECTS/RESPONSIVE LANDING PAGE
	directory = /storage/emulated/0/FRONTEND WEB DEVELOPMENT PROJECTS/3 LANDING PAGE
[user]
	name = Ikechukwu Orji
	email = ikechukwuorji236@gmail.com
